<section class="bg-primary">
	<div class="col-lg-12 text-center">
		<h2 class="section-heading">About Our Team</h2>
	</div>
</section>
<section class="card" id="contact">
	<div class="card--content align-items-center">
		<img class="card-img-top img-circle" src="img/pic-david-100px.png" alt="David" />
		<h4 class="card-title">David Godding</h4>
		<h6 class="text-muted">CEO, Founder</h6>
		<p class="card-text"></p>
		<a href="#" class="btn btn-primary">Contact</a>
	</div>
	<div class="card--content">
			<img class="card-img-top img-circle" src="img/pic-jacqui-100px.png" alt="David" />
			<h4 class="card-title">Dr. Jacqui Poon</h4>
			<h6 class="text-muted">CEO, Founder</h6>
			<p class="card-text"></p>
			<a href="#" class="btn btn-primary">Contact</a>
	</div>
	<div class="card--content">
			<img class="card-img-top img-circle" src="img/pic-paul-100px.png" alt="David" />
			<h4 class="card-title">Dr. Paul Bergen</h4>
			<h6 class="text-muted"></h6>
			<p class="card-text"></p>
			<a href="#" class="btn btn-primary">Contact</a>
	</div>
	<div class="card--content">
			<img class="card-img-top img-circle" src="img/pic-greg-100px.png" alt="David" />
			<h4 class="card-title">Greg Wilsenach</h4>
			<h6 class="text-muted"></h6>
			<p class="card-text"></p>
			<a href="#" class="btn btn-primary">Contact</a>
	</div>
	<div class="card--content">
			<img class="card-img-top img-circle" src="img/pic-kelvin-100px.png" alt="David" />
			<h4 class="card-title">Kelvin Mei</h4>
			<h6 class="text-muted"></h6>
			<p class="card-text"></p>
			<a href="#" class="btn btn-primary">Contact</a>
	</div>
</section>
