<header>
    <div class="header-content">
        <div class="header-content-inner">
			<br>
			<br>
            <h1>Farming Data</h1>
            <hr>
			<h3>Mission</h3>
            <p>Our mission is to improve market access and enhance fairness in the supply chain for smallholder farmers and buyers.</p>
			<hr>
			<h3>What's the Issue?</h3>
			<p>Over 60% of the population in sub-Saharan Africa work in agriculture. Many are smallholder farmers, producing 80% of the domestic food supply. Their earnings from agriculture are a primary source of household income. For example, in Tanzania, 56% of a smallholder's household income comes from farming.</p>
			<p>However, market inefficiency is often an issue. Smallholder farmers face difficulties in selling for better prices and in organising transport logistics.</p>
			<p>Given the majority of low- and lower-middle income families in smallholder agriculture, we believe there's a huge opportunity for innovative digital platforms likes ours to streamline market transactions for both sellers and buyers.</p>
        </div>
    </div>
</header>
