<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/imageMapResizer.min.js"></script>
<script>$(document).ready(function(e){$("map").imageMapResize();});</script>

<map name="map">
    <area href="facebook.com" shape="circle" coords="1368, 384, 41" />
    <area href="facebook.com" shape="circle" coords="1372, 203, 41" />
    <area href="facebook.com" shape="circle" coords="1370, 49, 42" />
    <area href="facebook.com" shape="circle" coords="1228, 49, 41" />
    <area href="facebook.com" shape="circle" coords="1226, 200, 43" />
    <area href="facebook.com" shape="circle" coords="1064, 204, 42" />
    <area href="facebook.com" shape="circle" coords="915, 202, 44" />
    <area href="facebook.com" shape="circle" coords="915, 50, 42" />
    <area href="facebook.com" shape="circle" coords="914, 384, 41" />
    <area href="facebook.com" shape="circle" coords="766, 383, 43" />
    <area href="facebook.com" shape="circle" coords="573, 385, 41" />
    <area href="facebook.com" shape="circle" coords="626, 200, 41" />
    <area href="facebook.com" shape="circle" coords="771, 50, 42" />
    <area href="facebook.com" shape="circle" coords="626, 51, 42" />
    <area href="facebook.com" shape="circle" coords="481, 202, 41" />
    <area href="facebook.com" shape="circle" coords="338, 202, 43" />
    <area href="facebook.com" shape="circle" coords="191, 385, 42" />
    <area href="facebook.com" shape="circle" coords="48, 384, 40" />
    <area href="facebook.com" shape="circle" coords="193, 51, 42" />
    <area href="facebook.com" shape="circle" coords="48, 50, 40" />
</map>

<section id="howItWorks">
	<div class="col-lg-12 text-center">
    	<h2 class="section-heading">How It Works</h2>
		<hr class="primary">
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
				<img src="img/vc.png" id="map-image" style="width: 3697px; max-width:100%; height: auto;" alt="" usemap="#map" />
			</div>
        </div>
    </div>
</section>


<!--
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
   				<div class="chart" id="basic-example"></div>
    			<script src="js/vendor/raphael.js"></script>
    			<script src="js/Treant.js"></script> 
    			<script src="js/basic-example.js"></script>
    			<script>
        			new Treant( chart_config );
    			</script>  
			</div>
        </div>
    </div>
</section>
-->
