<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Partners</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <img src="img/Agri-Tech_East_logo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <img src="img/ideaspace.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <img src="img/Allia_SI-logo_RGB.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <img src="img/jbs_pre_accelerate.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
